* {
  font-family: "Roboto", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}
.main-container {
  width: 100%;
}
.header {
  background-color: #1f2937;
  display: flex;
  height: 75px;
  justify-content: space-between;
  color: #e5e7eb;
  padding-left: 200px;
  padding-right: 200px;
}
.header .header-logo {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 24px;
}
.header .header-link-container {
  display: flex;
}
.header .header-link-container .header-link-item {
  margin: auto 10px auto 10px;
  font-size: 18px;
}
